# {{ansible_managed}}
# {{template_path}}  
#

[Unit]
Description=Write boot event to InfluxDB
# After=network.target
# After=multi-user.target
After=network-online.target
 
[Service]
Type=idle
User=aleak
Group=aleak
ExecStart=/home/aleak/g/pdev_util/bin/bootlog 
 
[Install]
WantedBy=multi-user.target
