# {{ansible_managed}}
# {{template_path}}  
#

[Unit]
Description=bootlog - record boot event into InfluxDB
After=network.target
 
[Service]
Type=oneshot
User=aleak
Group=aleak
TimeoutSec=0
StandardInput=tty
ExecStart=/home/aleak/g/pdev_util/bin/bootlog
 
[Install]
WantedBy=multi-user.target
