# {{ansible_managed}}
# {{template_path}}  
#

[Unit]
Description=Write boot event to InfluxDB
# After=network.target
# After=multi-user.target
After=network-online.target
 
[Service]
Type=idle
User=aleak
Group=aleak
# TimeoutSec=0
StandardInput=tty
ExecStart=/home/aleak/g/pdev_util/bin/bootlog > /tmp/bootlog.log 2>&1
 
[Install]
WantedBy=multi-user.target
