# {{ansible_managed}}
# {{template_path}}
#
# Remember to run `systemctl daemon-reload` after creating or editing this file.

[Unit]
Description=Airflow scheduler daemon
After=network.target 

[Service]
User={{sys_user}}
Group={{sys_user}}
Environment=AIRFLOW_HOME=/home/{{sys_user}}/util/air_util
Type=simple
ExecStart=/usr/local/bin/airflow scheduler
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
