# {{ansible_managed}}
# {{template_path}}

# nats streaming server service

[Unit]
Description=Nats Streaming Server

[Service]
ExecStart=/usr/local/bin/nats-streaming-server -c /etc/nats/nats.conf -m 8222
Restart=on-failure

[Install]
WantedBy=multi-user.target
