[Unit]
Description=Telegraf
Documentation=https://github.com/influxdata/telegraf
After=network-online.target
Wants=network-online.target

[Service]
Type=notify 
EnvironmentFile=-/etc/default/telegraf
User=aleak 
ExecStart=/usr/bin/telegraf -config /etc/telegraf/telegraf.conf 
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillMode=mixed

[Install]
WantedBy=multi-user.target
