# {{ansible_managed}}
# {{template_path}}  
#

[Unit]
Description=Lightweigt mail-handling server
After=network.target network-online.target
 
[Service]
User=aleak
Group=aleak

Type=forking
Restart=on-abort

TimeoutStartSec=infinity

PIDFile=/tmp/mailsrv.pid

WorkingDirectory=/home/aleak/g/pdev_util/bin

ExecStart=/usr/local/bin/chruby-exec 2.4.0 -- /home/aleak/g/pdev_util/bin/mailsrv
 
[Install]
WantedBy=multi-user.target
