# {{ansible_managed}}
# {{template_path}}  
#

[Unit]
Description=Lightweigt mail-handling server
 
[Service]
User=aleak
Group=aleak
Type=simple
TimeoutSec=infinity
PIDFile=/tmp/mailsrv.pid
WorkingDirectory=/home/aleak/git/pdev_util/bin
ExecStart=/usr/local/bin/chruby-exec 2.4.0 -- /home/aleak/git/pdev_util/bin/mailsrv
 
[Install]
WantedBy=multi-user.target
