# Written by Ansible (Net/Bridge/templates/netplan_ethernet.yaml.j2)

network: 
  version: 2
  renderer: {{nw_renderer}}
  ethernets: 
    {{nw_device}}: 
      dhcp4: false
      dhcp6: false
  bridges: 
    {{bridge_name}}: 
      interfaces: [{{nw_device}}] 
      dhcp4: true
      parameters:
        stp: false
        forward-delay: 0
