# Written by Ansible (Net/Bridge/templates/netplan.yaml.j2)

network: 
  version: 2
  renderer: {{nw_renderer}}
  ethernets: 
    {{nw_interface}}: 
      dhcp4: no
      dhcp6: no
  bridges: 
    {{bridge_name}}: 
      interfaces: [{{nw_interface}}] 
      dhcp4: yes 
