# Written by Ansible (Net/Bridge/templates/netplan_wireless.yaml.j2)

network: 
  version: 2
  renderer: {{nw_renderer}}
  wifis: 
    {{nw_device}}: 
      dhcp4: false
      dhcp6: false
      access-points: 
        "YOUR-SSID": 
          password: "YOUR-PASSWORD"
  bridges: 
    {{bridge_name}}: 
      interfaces: [{{nw_device}}] 
      dhcp4: true
      parameters:
        stp: false
        forward-delay: 0
