#! /usr/bin/env bash

# {{ansible_managed}}
# {{template_path}}

# ipfs

[Unit]
Description=IPFS Daemon

[Service]
Type=simple
ExecStart=/usr/bin/ipfs daemon
ExecStop=/usr/bin/pkill ipfs
Restart=always
User={{rem_user}}

[Install]
WantedBy=default.target
