{{ansible_managed}}
{{template_path}}

GROUP NAMES Variables ("group_names"):
--------------------------------
{{ group_names | to_nice_json }}

GROUPS Variables ("groups"):
--------------------------------
{{ groups | to_nice_json }}

Environment Variables ("environment"):
--------------------------------
{{ environment | to_nice_json }} 

HOST Variables ("hostvars"):
--------------------------------
Broken on Ansible 2...
{ hostvars | to_nice_json } 

Module Variables ("vars"):
--------------------------------
Broken on Ansible 2...
{{ vars | to_nice_json }}

