{{ansible_managed}}
{{template_path}}

Module Variables ("vars"):
--------------------------------
{ vars | to_nice_json } 

GROUP NAMES Variables ("group_names"):
--------------------------------
{ group_names | to_nice_json }

GROUPS Variables ("groups"):
--------------------------------
{ groups | to_nice_json }

Environment Variables ("environment"):
--------------------------------
Broken...
{ environment | to_nice_json } 

HOST Variables ("hostvars"):
--------------------------------
Broken on Ansible 2...
{ hostvars | to_nice_json } 

