---

# CLI/util_base

- name: create a util directory
  become: false
  file: 
    path: /home/{{rem_user}}/util 
    state: directory 
    group: "{{rem_user}}" 
    owner: "{{rem_user}}"

- name: install base_util for target user
  become: false
  git:
    repo: https://github.com/andyl/base_util.git
    dest: /home/{{rem_user}}/util/base_util
  when: rem_user != "aleak"

- name: run init script 
  become: false
  shell: /home/{{rem_user}}/util/base_util/init 
  args:
    creates: /home/{{rem_user}}/.hushlogin

- name: add 'source' directive to ~/.bashrc
  blockinfile:
    create: yes
    path: /home/{{rem_user}}/.bashrc
    block: |
      [ -f ~/.bashrc_util ] && source ~/.bashrc_util
