---

# incus
# https://linuxcontainers.org/incus/introduction/ 
# https://github.com/lxc/incus
# https://github.com/zabbly/incus 

- name: incus install
  include_tasks: incus_install.yml

- name: incus config
  include_tasks: incus_config.yml

# - name: install distrobuilder
#   include_tasks: distrobuilder.yml

# - name: install incus-compose
#   include_tasks: incus_compose.yml
  
