#! /usr/bin/env bash

# {{ansible_managed}}
# {{template_path}}

# geth

[Unit]
Description=Ethereum/Geth

[Service]
Type=simple
ExecStart=/usr/bin/geth --rpc --ws --metrics daemon
ExecStop=/usr/bin/pkill geth
Restart=always
User={{sys_user}}

[Install]
WantedBy=default.target
