# {{ansible_managed}}
# {{template_path}}

# nats streaming server

[Unit]
Description=Nats Streaming Server

[Service]
ExecStart=/usr/local/bin/nats-streaming-server
Restart=on-failure

[Install]
WantedBy=multi-user.target
