# Written by Ansible (Virt/OVS/templates/netplan2.j2)

network: 
  version: 2

  renderer: networkd 

  ethernets: 
    {{ovs_interface}}: 
      dhcp4: false 
      dhcp6: false 

  bridges: 
    {{ovs_name}}: 
      interfaces: [{{ovs_interface}}] 
      # addresses: [192.168.8.53/24] 
      # routes: 
      #   - to: default 
      #     via: 192.168.8.1 
      # nameservers: 
      #   addresses: [192.168.8.1] 
      # parameters: 
      #   stp: true 
      #   forward-delay: 4 
      dhcp4: true
