network:
  version: 2
  renderer: networkd
  ethernets:
    {{ ovs_interface }}:
      dhcp4: no
  bridges:
    {{ ovs_name }}:
      interfaces: [{{ ovs_interface }}]
      dhcp4: yes
      openvswitch: {}
