# Written by Ansible (Virt/OVS/templates/netplan_gui.j2)

network: 
  version: 2
  renderer: NetworkManager
  ethernets: 
    {{eth_interface}}: 
      dhcp4: no
      dhcp6: no
  bridges: 
    {{ovs_name}}: 
      interfaces: [{{eth_interface}}] 
      dhcp4: yes 
      openvswitch: {}
