# {{ansible_managed}}
# {{template_path}}  
#
# Reference:
# https://blog.hqcodeshop.fi/archives/93-Handling-varrun-with-systemd.html

[Unit]
Description=btsync
After=network.target
 
[Service]
User=aleak
Group=aleak

PIDFile=/var/run/btsync/btsync.pid

Type=forking
Restart=on-abort

PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /run/btsync
ExecStartPre=/bin/chown -R aleak:aleak /run/btsync
ExecStart=/usr/sbin/btsync --config /etc/btsync/btsync.conf --log /var/log/btsync/btsync.log
 
[Install]
WantedBy=multi-user.target
