server {

	location / {
	  root /usr/share/nginx/root;
	  index index.html index.htm;
	}

	location /cblob {
	  root /usr/share/nginx/cblob;
	  autoindex on;
	}

	location /html {
	  root /usr/share/nginx/html;
	  index index.html index.htm;
	}
}


