# Written by Ansible (Virt/OVS/templates/netplan2.j2)

network: 
  version: 2
  renderer: networkd 
  ethernets: 
    {{ovs_interface}}: 
      dhcp4: no
      dhcp6: no
  bridges: 
    {{ovs_name}}: 
      interfaces: [{{ovs_interface}}] 
      dhcp4: yes 
      openvswitch: {}
